* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

body {
    background: url("../images/bg-nha-xinh.jpg") repeat scroll;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.only_sp, .only_sp_sm {
    display: none !important;
}

.wrapper {
    width: 100%;
    max-width: 1125px;
    margin: auto;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    background: #fff;
    position: relative;
}

.top-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

header {
    margin: 20px auto;
    padding: 0 20px;
}

header .menu {
    position: relative;
    color: #f1f1f1;
    background: #85B716;
    padding: 0;
    z-index: 1000
}

header .menu_pc ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    display: block;
}

header .menu_pc .menu-item {
    display: block;
    float: left;
}

header .menu_pc .menu-item:not(:last-of-type) {
    border-right: 1px solid rgba(223, 223, 223, 0.3);
}

header .menu_pc .menu-item.menu-home {
    background: #ce0100;
}

header .menu_pc .menu-item:hover {
    background: #1a469e;
}

header .menu_pc .menu-item .sub-menu {
    display: none;
    background: #222;
    padding: 0;
}

header .menu_pc .menu-item:hover .sub-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 100%;
    z-index: 10;
}

header .menu_pc .menu-item:hover .sub-menu li.menu-item {
    float: none !important;
}

header .menu_pc .menu-item:hover .sub-menu li:hover {
    background: #1a469e;
}

.content {
    margin: 20px auto;
    padding: 0 20px;
}

.content .top-content h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.content .widget {
    margin: 20px 0;
}

.content .widget .widget-container{
    max-width: 100%;
}

.content .widget .widget-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 4px 19px;
    border-bottom: 3px solid #85b716;
}

.content .widget .widget-title span {
    display: inline-block;
    background: #85b716 url(../images/title-conner.png) no-repeat top right;
    color: #fff;
    font-weight: 700;
    padding: 6px 30px 4px 5px;
    margin: -10px -10px -10px -19px;
    border-left: 3px solid #85b716;
}

.content .widget .widget-title a {
    color: red;
    padding-left: 15px;
    font-weight: 700;
}

.content .widget .widget-item {
    width: 20%;
    min-height: 225px;
    padding: 5px;
    position: relative;
    margin-top: 5px;
}

.content .widget .widget-item .caption {
    position: absolute;
    width: calc(100% - 10px);
    z-index: 1;
    bottom: 0;
    padding: 10px;
    display: block;
    color: #fff;
    font-size: 12px;
    font-family: arial, Helvetica, sans-serif;
    border-top: 2px solid #dd0000;
    background: url("../images/bg-caption.png");
}

.content .widget .widget-item .entry-thumb:hover {
    opacity: 0.75 !important;
    transition: opacity 0.2s ease-in-out;
}

.content .widget .widget-item .caption:hover {
    color: #cccccc;
    transition: color 0.2s ease-in-out;
}

.content .page-content, .content .post-content {
    width: 65%;
    float: left;
    padding-right: 20px;
}

.content .sidebar {
    width: 35%;
    float: left;
    padding-right: 20px;
}

.content .sidebar .widget .searchform {
    position: relative;
}

.content .sidebar .widget .searchform #searchsubmit {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
    height: 30px;
    width: 33px;
    background: url("../images/icon-search.png") no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    text-indent: -100px !important;
}

.content .sidebar .widget .category .cate-item a {
    color: #2d2d2d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.content .post-content .post-meta {
    margin-bottom: 10px;
}

.content .post-content .post-meta i {
    color: #AAAAAA;
    font-size: 13px;
}

.content .post-content .post-meta a {
    color: #AAAAAA;
    font-size: 13px;
    text-transform: uppercase;
}

.content .post-content article img {
    max-width: 100% !important;
    height: auto !important;
}

.content .page-content article img {
    max-width: 100% !important;
    height: auto !important;
}

.content .warning-license {
    padding: 8px;
    border: 2px dashed #FF4500;
    word-wrap: break-word;
}

.content .warning-license img {
    padding-bottom: 10px;
}

.content .warning-license p strong {
    color: #ff0000;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.content .warning-license p {
    margin: 10px 0;
    color: #003300;
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.content .infor-company {
    margin: 10px 0;
    padding: 8px;
    border: 10px ridge #fc9b41;
    word-wrap: break-word;
}

.content .infor-company p.name-company {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 14pt;
    color: #008000;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
}

.content .infor-company p.phone-company {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 12pt;
    color: #ff0000;
    font-weight: bold;
}

.content .infor-company p {
    margin: 10px 0;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11pt;
    color: #003300;
    font-weight: bold;
}

.content .infor-company p a {
    color: #003300;
}

.content .post-content .post-popular-item {
    padding: 0 10px !important;
    margin-top: 10px;
}

.content .post-content .post-popular-item .caption {
    margin-top: 5px;
    color: #2d2d2d;
    font-size: 15px;
    font-family: arial, Helvetica, sans-serif;
    line-height: 1.2;
    display: block;
}

.content .post-content .post-popular-item .entry-thumb:hover {
    opacity: 0.75 !important;
    transition: opacity 0.2s ease-in-out;
}

.content .post-content .post-popular-item .caption:hover {
    color: #818181;
    transition: color 0.2s ease-in-out;
}

.content .category-content .category-title {
    border-bottom: 3px solid #dd0000;
    padding-bottom: 5px;
}

.content .category-content .category-title span {
    font-size: 20px;
    color: #2d2d2d;
}

.content .category-content .category-title a {
    font-size: 20px;
    color: #2d2d2d;
}

.content .category-content .category-item {
    margin-top: 20px;
}

.content .category-content .category-item .caption {
    border-top: 2px solid #dd0000;
    padding-top: 5px;
    color: #2d2d2d;
    font-size: 18px;
    font-family: arial, Helvetica, sans-serif;
    line-height: 1.2;
    display: block;
}

.content .category-content .category-item .entry-thumb:hover {
    opacity: 0.75 !important;
    transition: opacity 0.2s ease-in-out;
}

.content .category-content .category-item .caption:hover {
    color: #818181;
    transition: color 0.2s ease-in-out;
}

.bottom-content {
    margin-top: 40px;
    font-size: 14px; font-family: arial,helvetica,sans-serif;
}

.partner {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    font-family: arial,helvetica,sans-serif;
    color: #000000;
}

.partner a {
    color: #2d2d2d;
}

.partner a span {
    color: #18A5E6;
}

footer#footer {
    background-color: #3a3a3a;
    text-align: center;
    padding: 20px 20px;
}

footer#footer p {
    color: #ffffff;
    font-family: "arial" , "helvetica" , sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.menu-bottom {
    background: #85b716;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
}

.menu-bottom ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu-bottom ul li a {
    color: #fff;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
}

.menu-bottom ul li:nth-child(1):hover {
    background-color: #ff3939;
}

.menu-bottom ul li:nth-child(2):hover {
    background-color: #000000;
}
.menu-bottom ul li:nth-child(3):hover {
    background-color: #992ff3;
}
.menu-bottom ul li:nth-child(4):hover {
    background-color: #ffa32c;
}
.menu-bottom ul li:nth-child(5):hover {
    background-color: #fff000;
}
.menu-bottom ul li:nth-child(6):hover {
    background-color: #008aff;
}

/* Send Message */
#send-message {
    position: fixed;
    bottom: 26px;
    right: 60px;
    z-index: 999;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ce0100;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgba(255,255, 255, 0.25);
    text-decoration: none;
}

/* Scroll Top */
#scroll-top {
    position: fixed;
    bottom: 35px;
    right: 15px;
    z-index: 999;
    padding: 10px 15px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255, 255, 0.25);
    text-decoration: none;
}

#scroll-top:hover{
    background-color: #ff3939;
    transition: all 0.25s ease;
}

.fixed-social {
    position: fixed;
    bottom: 90px;
    right: 14px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}


/* section contact */
.contact-section {
    background: url("../images/contact-bg.png") no-repeat top center;
    background-size: cover;
    position: relative;
}

.contact-section::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(255,255,255,0.8);
}

.contact-section .row {
    position: relative;
    z-index: 1;
}

.contact-section__title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #85B716;
    text-align: center;
}

.contact-section__description p {
    margin-bottom: 5px;
    text-align: center;
}

.contact-section__description {
    margin-bottom: 20px;
}

.contact-section input[type=submit] {
    background-color: #85B716;
    border: 1px solid #85B716;
}

.info-item {
    margin-bottom: 20px;
}

.info-item__title {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #85B716;
    margin-bottom: 5px;
}

.info-item__content {
    font-size: 14px;
}

.info-item__content .info-item__text {
    display: flex;
    align-items: center;
}

.info-item__content .info-item__text i {
    font-size: 30px;
    margin-right: 10px;
    color: #85B716;
}

.info-item__content .info-item__text a{
    color: #000000;
}

.wpcf7 .screen-reader-response {
    display: none;
}

.wpcf7 span.wpcf7-not-valid-tip {
    color: #ff0000;
}

.wpcf7 .wpcf7-validation-errors {
    padding: 10px;
    border: 1px solid #ff0000;
    color: #ff0000;
}

.wpcf7 .wpcf7-mail-sent-ok {
    padding: 10px;
    border: 1px solid #85B716;
    color: #85B716;
}


@media (max-width: 991px) {
    .only_pc {
        display: none !important;
    }

    .only_sp {
        display: block !important;
    }

    .top-container {
        padding: 20px 15px;
        margin-bottom: 0;
    }

    .wrapper {
        max-width: 770px;
    }

    header {
        margin: 15px auto;
        padding: 0;
    }

    header .menu {
        padding: 3px 10px;
    }

    header .menu > a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }

    header button {
        border: none !important;
    }

    header .menu_sp {
        position: absolute;
        top: 43px;
        right: 0;
        z-index: 99;
        width: 40%;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
        max-height: 100vh;
        padding-bottom: 250px;
        margin-bottom: -250px;
    }

    header.sticky .menu_sp {
        padding-bottom: 50px;
        margin-bottom: -50px;
    }

    header .menu_sp ul {
        background: #da9041;
        display: flex;
        flex-direction: column;
    }

    header .menu_sp .menu-item {
        padding: 10px;
    }

    header .menu_sp .menu-item a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff !important;
        padding: 5px 10px;
        display: block;
        font-size: 14px;
        border: none !important;
        position: relative;
    }

    header .menu_sp .menu-item a i.fa-chevron-down {
        display: block;
        position: absolute;
        top: 30%;
        right: 5%;
        z-index: 9;
    }

    header .menu_sp .menu-item:not(:last-of-type) {
        border-bottom: 1px solid rgba(223, 223, 223, 0.3);
    }


    header .menu_sp .menu-item.menu-home {
        background: #da9041;
    }

    header .menu_sp .menu-item .sub-menu {
        padding: 0 5px;
        display: none;
    }

    .content {
        margin: 15px auto;
        padding: 0 15px;
    }

    .content .top-content h3 {
        font-size: 22px;
    }

    .content .widget {
        margin: 15px 0;
    }

    .content .widget .widget-item {
        width: 33.33%;
    }

    .content .page-content, .content .post-content {
        width: 100%;
        float: left;
        padding-right: 0;
    }

    .content .sidebar {
        width: 100%;
        float: left;
        padding-right: 0;
    }

    .content .sidebar .widget img {
        width: auto !important;
    }
}

@media (max-width: 767px) {
    .only_pc_sm {
        display: none !important;
    }

    .top-container {
        padding: 0;
        background-color: #85b716;
    }
    .only_sp_sm {
        padding-top: 15px;
        display: flex !important;
        justify-content: center;
        align-items: flex-end;
        color: #000 !important;
    }

    .wrapper {
        max-width: 460px;
    }

    .content .widget .widget-item {
        width: 85%;
        margin: 20px auto;
    }

    header {
        margin-top: 1px;
    }

    header .menu_sp {
        width: 60%;
        padding-bottom: 120px;
        margin-bottom: -120px;
    }
}

@media (max-width: 680px) {
    #scroll-top {
        bottom: 55px;
        right: 15px;
        padding: 5px 12px;
    }

    #send-message {
        bottom: 53px;
        right: 55px;
    }

    .fixed-social {
        bottom: 100px;
        right: 10px;
    }
}

@media (max-width: 460px) {
    .wrapper {
        max-width: 100%;
    }
    .content .widget .widget-title {
        font-size: 13px;
    }

    .content .widget .widget-item {
        width: 100%;
        margin: 20px auto;
    }
}


